config init
	option stdout 1
	option stderr 1
	option user frps
	option group frps
	option respawn 1
#	OS environments pass to frp for config file template, see
#	https://github.com/fatedier/frp#configuration-file-template
#	list env 'ENV_NAME=value'
#	Config files include in temporary config file.
#	list conf_inc '/etc/frp/frps.d/frps_full_example.toml'

config conf 'common'
	option bind_port 7000
#	List options with name="_" will be directly appended to config file
#	list _ '# Key-A=Value-A'

config frps 'main'
	option enabled '0'
	option client_file '/usr/bin/frps'
	option run_user 'root'
	option set_firewall '0'
	option tcp_ports '0'
	option udp_ports '0'
	option enable_logging '0'
	option std_redirect '0'
	option log__to '/var/log/frps.log'
	option log__level 'info'
	option log__maxDays '3'
	option log__disablePrintColor 'true'
	option bindAddr '0.0.0.0'
	option bindPort '7000'
	option auth__method 'token'
	option auth__token 'token'
	option transport__tcpMux 'false'
	option transport__tcpMuxKeepaliveInterval '60'
	option kcpBindPort '7000'
	option quicBindPort '7002'
	option vhostHTTPPort '61080'
	option vhostHTTPSPort '61443'
	option transport__maxPoolCount '0'
	option maxPortsPerClient '0'
	list allowPorts '3000'
	list allowPorts '4000-4500'
	option subDomainHost 'sub'
	option transport__tls__force 'false'
	option transport__tls__certFile '/etc/frp/frps.d/server.crt'
	option transport__tls__keyFile '/etc/frp/frps.d/server.key'
	option transport__tls__trustedCaFile '/etc/frp/frps.d/ca.crt'
	option transport__heartbeatTimeout '90'
	option proxyBindAddr '127.0.0.1'
	list extra_setting ''
	option webServer__addr '127.0.0.1'
	option webServer__port '7500'
	option webServer__user 'admin'
	option webServer__password 'admin'
	option webServer__tls__certFile '/etc/frp/frps.d/server.crt'
	option webServer__tls__keyFile '/etc/frp/frps.d/server.key'
